.mobile {
  background-color: white;
  border-radius: 1.5rem;
}

@media (min-width: 1024px) {
  .mobile {
    background-image: none;
    background-color: white;
    width: 50%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1.5rem; /* 12px */
    border-bottom-right-radius: 1.5rem; /* 12px */
  }
}

@media (min-width: 1024px) {
  .desktopbg {
    background-image: url("../../icons/foam-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
}

.separator {
  display: flex;
  align-items: center;
  width: 70%;
}

.separator::before,
.separator::after {
  content: "";
  height: 1px;
  background-color: #374151;
  flex-grow: 1;
  margin-right: 1em;
  margin-left: 1em;
}

.my-facebook-button-class {
  display: flex;
  padding-right: 1.25rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  align-items: center;
  justify-items: center;
  height: 30px !important;
  border-radius: 0.5rem;
  border-width: 2px;
  /*border-color: transparent;*/
  cursor: pointer;
  background-color: #4267b2 !important;
  font-weight: 700;
  width: 100%;
}

@media (min-width: 768px) {
  .my-facebook-button-class {
    line-height: 1.75rem;
    padding: 1.5rem;
    height: 2.5rem;
  }
}

.margin-0 {
  margin-left: 0px !important;
}

.my-google-button-class {
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: transparent !important;
  cursor: pointer;
  font-weight: 700;
  width: 60%;
}

@media (min-width: 768px) {
  .my-google-button-class {
    line-height: 1.75rem;
    padding: 1.5rem;
    height: 2.5rem;
  }
}

.login-modal-size {
  width: 60rem !important;
}
