.input-1 {
  appearance: none;
  display: flex;
  align-self: center;
  height: 20px;
  width: 20px;
  background-color: tomato;
}

input[type=radio]:checked + label>img {
  position: relative;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px blue;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  width: 120px;
  height: 120px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    scale(1.02)
}

.register-modal-size {
  width: 30rem;
}

.separator {
  display: flex;
  align-items: center; 
  width: 70%;
}

.separator::before,
.separator::after {
  content: '';
  height: 1px;
  background-color: #374151;
  flex-grow: 1; 
  margin-right: 1em;
  margin-left: 1em;
}



.my-facebook-button-class{
  display: flex; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  color: #ffffff; 
  font-size: 1rem;
  line-height: 1.5rem; 
  align-items: center; 
  height: 2rem;
  border-radius: 0.5rem; 
  border-width: 2px; 
  border-color: transparent; 
  cursor: pointer; 
  background-color: #4267B2;
  font-weight: 700;
  width:100%


}
@media (min-width: 768px) { 
.my-facebook-button-class{
  line-height: 1.75rem; 
  padding: 1.50rem; 
  height: 2.5rem; 

 }

}