.input-1 {
  appearance: none;
  display: flex;
  align-self: center;
  height: 20px;
  width: 20px;
  background-color: tomato;
}

input[type="radio"]:checked + label > img {
  position: relative;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px blue;
}

/* Stuff after this is only to make things more pretty */
input[type="radio"] + label > img {
  width: 120px;
  height: 120px;
  transition: 500ms all;
}

input[type="radio"]:checked + label > img {
  transform: scale(1.02);
}

.register-modal-size {
  width: 65rem;
}

.separator {
  display: flex;
  align-items: center;
  width: 70%;
}

.separator::before,
.separator::after {
  content: "";
  height: 1px;
  background-color: #374151;
  flex-grow: 1;
  margin-right: 1em;
  margin-left: 1em;
}

.my-facebook-button-class {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.5rem;
  align-items: center;
  justify-items: center;
  height: 40px !important;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  width: 20rem;
}
