.rounded-profil{
    border-radius: 49px 49px 0px 0px;
    box-shadow: 0px 0px 12px #00000029;
}
  
.bgColorHeaderProfil {
    background-color: #D6E6FA;
}

.btnProfilPage {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
  }