.suggestions-box {
  border-top: #999;
  z-index: 999;
  background-color: white;
  top: 54px;
  position: absolute;
  width: 100%;
  padding-left: 0;
  border: 1px solid grey;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  border-radius: 10px;
}

.no-suggestions {
  color: #999;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.suggestions {
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px;
  scrollbar-width: thin;
  border-top: 1px solid grey;
}

.suggestions::-webkit-scrollbar {
  width: 0.2rem;
  height: 0rem;
  border-radius: 20px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: hsla(218, 100%, 42%, 1);
}

.suggestions li {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.suggestion-active,
.suggestions li:hover {
  background: #ddd;
  color: #222;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  border-width: 90%;
}
