.suggestions-box {
  z-index: 999;
  background-color: white;
  top: 54px;
  position: absolute;
  width: 100%;
  padding-left: 0;
  border: 1px solid black;
  border-top: 1px solid #777;
  list-style: none;
  margin-top: 0;
  border-radius: 10px;
}

.no-suggestions {
  color: #777;
  padding: 0.5rem;
  font-size: 0.9rem;
  z-index: 999;
  background-color: #f0f0f0;
  top: 54px;
  position: absolute;
  width: 100%;
  border: 1px solid black;
  border-top: 1px solid #777;
  list-style: none;
  margin-top: 0;
  border-radius: 10px;
  max-height: 200px;
  border-radius: 10px;
}

.suggestions {
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px;
  scrollbar-width: thin;
}

.suggestions::-webkit-scrollbar {
  width: 0.2rem;
  height: 0rem;
  border-radius: 20px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #777;
}

.suggestions li {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.suggestion-active,
.suggestions li:hover {
  background: #d6e6fa;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #f0f0f0;
  border-width: 90%;
}

@media only screen and (max-width: 768px) {
  .suggestions-box {
    top: 38px;
  }
  .no-suggestions {
    top: 38px;
  }
}
