.carousel-container {
   width: 80%;
}

.carousel-container-mobile {
    width: 90%;
    margin: auto;
 }

.carousel-item {
   padding-top: 20px;
   padding-bottom: 40px;
}

.carousel-item-mobile {
    padding-top: 20px;
    padding-bottom: 40px;
 }

.custom-dot-list-style {
   margin: 10px;
}

.custom-dot-list-style-mobile {
    margin: 10px;
 }