.img-dim {
  height: 300px;
  width: 200px;
}

.ingredient_fadeIn {
  max-height: 500px;
  transition: max-height 0.75s ease-in;
  overflow: hidden;
}

.ingredient_fadeOut {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
