.container_fadeIn {
  max-height: 500px;
  transition: max-height 0.75s ease-in;
  overflow: hidden;
}

.container_fadeOut {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
