.headband {
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
 }

.arrow-desktop {
    top: -20px;
    right: -20px;
}

.play-button {
    right: 90px;
}