@font-face {
  font-family: QuickSand_SemiBold;
  src: url(./fonts/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: QuickSand_Regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: QuickSand_Medium;
  src: url(./fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: QuickSand_Light;
  src: url(./fonts/Quicksand-Light.ttf);
}

h1 {
  color: black;
  font-family: QuickSand_Medium;
}

h2 {
  font-family: QuickSand_SemiBold;
}

h3 {
  font-family: QuickSand_Regular;
}

.text_logo {
  color: #83d489;
  font-weight: 500;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  bottom: 50%;
  width: auto;
  font-size: 5rem;
  color: #727272;
}

.alice-carousel__next-btn {
  right: 0;
}

.alice-carousel__next-btn-wrapper {
  float: right;
  margin-right: -6rem;
}
.alice-carousel__prev-btn-wrapper {
  float: left;
  margin-left: -5rem;
}

@media only screen and (max-width: 768px) {
  .recipesOfTheWeekCarousel .alice-carousel__stage-item {
    width: 20rem;
  }
}
@media only screen and (min-width: 768px) {
  .recipesOfTheWeekCarousel .alice-carousel__stage-item {
    width: 20rem;
    margin: 1rem 1rem 1rem 1rem !important;
  }
}

.filterBar_fadeOut {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.filterBar_fadeIn {
  min-width: 300px;
  overflow-y: auto;
  height: calc(100vh - 108px);
  width: 100vw;
  position: fixed;
  top: 108px;
  left: 0;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.navBar_fadeOut {
  /* width: 0; */
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.navBar_fadeIn {
  min-width: 150px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.button_contact {
  background-color: #83d489;
  margin-top: 4px;
  color: white;
  border: 2px solid transparent;
  padding: 5px 15px;
  border-radius: 5px;
}

.button_contact:hover {
  background-color: transparent;
  color: #83d489;
  border: 2px solid;
  border-color: #83d489;
}

.button_reserver {
  background-color: #8fb5e8;
  margin-top: 12px;
  color: white;
  border: 2px solid transparent;
  padding: 4px 15px;
  border-radius: 5px;
}

.button_reserver:hover {
  background-color: transparent;
  color: #8fb5e8;
  border: 2px solid;
  border-color: #8fb5e8;
}

.button_region {
  background-color: white;
  color: black;
  border: 2px solid transparent;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(107, 107, 107, 0.226);
}

.button_region:hover {
  background-color: #5c5c5c;
  color: white;
}

.landingpage_bg_1 {
  background-color: #83d489;
  z-index: -1;
  position: fixed;
  margin-top: 10em;
  filter: blur(3.5rem);
  border-radius: 100%;
  opacity: 40%;
}

.landingpage_bg_2 {
  background-color: #8fb5e8;
  z-index: -1;
  position: fixed;
  left: 10%;
  margin-top: 15em;
  filter: blur(3.5rem);
  border-radius: 100%;
  opacity: 40%;
}

.landingpage_bg_3 {
  background-color: #ffb798;
  z-index: -1;
  position: fixed;
  left: 20px;
  margin-top: 30em;
  filter: blur(3.5rem);
  border-radius: 100%;
  opacity: 40%;
}

.landingpage_bg_4 {
  background-color: #f9d58e;
  z-index: -1;
  position: fixed;
  right: -5%;
  margin-top: 20em;
  filter: blur(3.5rem);
  border-radius: 100%;
  opacity: 40%;
}

/* FOR iOS AND FOR APPLE <3*/
.grid-gap-list-page {
  grid-gap: 2.5rem;
}
