@tailwind base;

h1 {
  @apply font-bold;
  @apply text-2xl md:text-3xl; /* 30px */
}

h2 {
  @apply font-medium;
  @apply text-xl  md:text-2xl; /* 24px */
}

h3 {
  @apply font-medium;
  @apply text-lg md:text-xl; /* 20px */
}

h4 {
  @apply font-medium;
  @apply text-base md:text-base; /* 16px */
}

p {
  @apply font-regular;
  @apply text-base md:text-base; /* 16px */
}

@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "ZenMaruGothic-Regular";
  src: local("ZenMaruGothic-Regular"),
    url(./fonts/ZenMaruGothic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: ZenMaruGothic-Regular;
  src: url(./fonts/ZenMaruGothic-Regular.ttf);
}

@font-face {
  font-family: SquarePeg-Regular;
  src: url(./fonts/SquarePeg-Regular.ttf);
}
@font-face {
  font-family: ZenMaruGothic_Medium;
  src: url(./fonts/ZenMaruGothic-Medium.ttf);
}
@font-face {
  font-family: ZenMaruGothic_Light;
  src: url(./fonts/ZenMaruGothic-Light.ttf);
}

@font-face {
  font-family: ZenMaruGothic_Bold;
  src: url(./fonts/ZenMaruGothic-Bold.ttf);
}

html {
  font-family: ZenMaruGothic-Regular !important;
  background-color: #ffffff !important;
  color: #192a51 !important;
  font-size: 1rem !important; /* 16px */
  line-height: 1.5rem !important; /* 24px */
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  html {
    font-family: ZenMaruGothic-Regular !important;
    background-color: #ffffff !important;
    color: #192a51 !important;
    font-size: 0.75rem !important; /* 12px */
    line-height: 1rem !important; /* 18px */
  }
}
