@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/Ubuntu-Regular.ttf) format("truetype");
}
html {
  @apply font-body;
  background-color: #FDFDFD;
}
button:hover {
  background: transparent;
}
