@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand-Regular'),
    url(./fonts/Quicksand-Regular.ttf) format('truetype');
}

html {
  font-family: Quicksand;
  background-color: #fdfdfd;
}
